@{
    ViewBag.Title = "AdminDashBoard";
}
<body>
    <fieldset class="dash">
        <legend class="lgd"> Admin DashBoard - @Session["Names"] @Session["Lastnames"] </legend>
        <div class="pdiv shadow p-3 w-100 bg-warning rounded">
            Listado de Usuarios
        </div>
        <div class="bdiv shadow-sm p-3 w-100 mb-2 rounded">
            @{Html.RenderAction("Details", "User");}
        </div>
        <br />
        <div class="pdiv shadow p-3 w-100 bg-warning rounded">
            Ingresar Empleados
        </div>
        <div class="bdiv shadow-sm p-3 w-100 mb-2 rounded" style="align-content:center">
            @{Html.RenderAction("Create", "User");}
        </div>
        <br />
        <div class="pdiv shadow p-3 w-100 bg-warning rounded">
            Ver Cartelera
        </div>
        <div class="bdiv shadow-sm p-3 w-100 mb-2 rounded">
            @{Html.RenderAction("Details", "Movie");}
        </div>
        <br />
        <div class="pdiv shadow p-3 w-100 bg-warning rounded">
            Ingresar Pelicula
        </div>
        <div class="bdiv shadow-sm p-3 w-100 mb-2 rounded">
            @{Html.RenderAction("Create", "Movie");}
        </div>
        <br />
        <div class="pdiv shadow p-3 w-100 bg-warning rounded">
            Modificar Pelicula
        </div>
        <div class="bdiv shadow-sm p-3 w-100 mb-2 rounded">
            @{Html.RenderAction("Edit", "Movie");}
        </div>
        <br />
        <div class="pdiv shadow p-3 w-100 bg-warning rounded">
            Ver Golosinas
        </div>
        <div class="bdiv shadow-sm p-3 w-100 mb-2 rounded">
            @{Html.RenderAction("Details", "Candy");}
        </div>
        <br />
        <div class="pdiv shadow p-3 w-100 bg-warning rounded">
            Ingresar Golosina
        </div>
        <div class="bdiv shadow-sm p-3 w-100 mb-2 rounded">
            @{Html.RenderAction("Create", "Candy");}
        </div>
        <br />
        <div class="pdiv shadow p-3 w-100 bg-warning rounded">
            Modificar Golosina
        </div>
        <div class="bdiv shadow-sm p-3 w-100 mb-2 rounded">
            @{Html.RenderAction("Edit", "Candy");}
        </div>
        <br />
        <div class="pdiv shadow p-3 w-100 bg-warning rounded">
            Exportar Reportes
        </div>
        <div class="bdiv shadow-sm p-3 w-100 mb-2 rounded">
            BODY
        </div>
        <br />
    </fieldset>
    @Html.ActionLink("Cerrar Sesión", "UnSession", "Home", new { @class = "close-sesion shadow btn btn-danger", @style = "font-size:large;" })
</body>


@Scripts.Render("~/Scripts/AdminEmployeeS.js")