<div style="padding:30px;" class="movie-detail">
    <h1>Usted está comprando:</h1><br />
    <table>
        <tr>
            <td id="SelectedCandyPicture" style="width:200px; background-size: cover;">
            </td>
            <td style="padding-top:30px; padding-left:50px;">
                <h1 class="movie-title" id="SelectedCandyTitle">
                </h1><br /><br />
                <div class="movie-detail">
                    <b>Precio:</b><p id="SelectedCandyPrice"></p><br />
                    <b>Categoria:</b><p id="SelectedCandyType"></p>
                </div>
            </td>
        </tr>
    </table><br /><br />
    <b>Ingrese cantidad a comprar:</b>
    <input id="numCandy" class="input100" type="number" min="1" max="100"><br />
    <p id="candyTotalPrice"></p>
    Dinero a ingresar (USD):
    <input id="candyPriceEnter" class="input100" type="number" min="0"><br />
    <p id="NotMoney"></p>
    <button id="btnBuyCandy" class="btn btn-info" style="font-size:x-large;">
        Comprar
    </button>
</div>
